@model ImportViewModel
<div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" />
        <label asp-for="File" />
        <input asp-for="File" type="file" accept="application/vnd.ms-excel"/>
        <input type="submit" asp-controller="Home" asp-action="Import" />
    </form>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
