@model BankSelectorViewModel
<div>
    @{
        foreach (var bank in Model.BankViewModels)
        {
            <a asp-controller="Sheet" asp-action="ShowSheet" asp-for-viewModel="@bank">@bank.Name</a>
            <br />
        }
    }
</div>